@charset "utf-8";
.m-grade {
    line-height: 60px;
    padding: 17px 0 22px 26px;
    border-bottom: 1px solid #e5e5e5;
}

.m-grade li {
    line-height: 60px;
   
    position: relative;
}
.m-grade nav {
    position: absolute;
    top: 10px;
    left: 187px;
}



.m-grade nav a {
    float: left;
    background: url("../../img/module/grade/star.png") no-repeat -38px 0;
    width: 38px;
    height: 36px;
    margin-right: 39px;
    transition: 0.3s;
   background-size: cover;
}
.m-grade nav .active{
    background-position:0 0;
}
