@charset "utf-8";
html{
	height: auto;
}
body {
	margin: 0;
}

ul ,p{
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.clearfix:after{
		content: '';
		display: block;
		clear: both;
	}



.list-box {
	position: relative;
	width: auto;
	padding: 10px;
	margin: 0 auto;
	
}

.list-box .item {
	width: 200px;
	position: absolute;
	padding: 0 0 10px 0;
	box-shadow: 2px 2px 2px #e8e8e8, -2px -2px -2px #e8e8e8;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	margin: 10px;
	transition: 0.5s;
}

.list-box .item img {
	margin: 12px;
	width: 176px;
}

.list-box .item .header {
	height: 25px;
	margin: 0 12px;
	border-bottom: 1px solid #dbdbdb;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-box .desp {
	font-size: 12px;
	line-height: 1.8em;
	margin: 10px 15px 0;
	color: #777371;
}


