@import "cm";
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    height: 100%;
    overflow: auto;
    background-color: $cfff;
    z-index: 5;
}

/*欢迎页*/
.page:nth-of-type(1) {
    z-index: 10;
}
/*上传成功*/
.page:nth-of-type(2) {
    z-index: 9;
}
/*表单页*/
.page:nth-of-type(3) {
    background: #eee;
    z-index: 8;
}
/*新闻页*/
.page:nth-of-type(4) {
    background: #eee;
    opacity: 0;
    z-index: 7;
}
.page:nth-of-type(4) h2 {
    line-height: 80px;
    padding: 24px 0 0 34px;
    font-size: 26px;
}
/*首页*/
.page:nth-of-type(6){
   
}
.comp{
    position: relative;
    height: 100%;
    min-height: 1136px;
    overflow: hidden;
}


.file {
    background: #fff;
    height: 188px;
}
.file label {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 100px;
    line-height: 52px;
    text-align: center;
}
.file label:nth-of-type(1) {
    border-right: 1px solid #e5e5e5;
    background: url("../img/camera1.png") no-repeat center 20px;
}
.file label:nth-of-type(2) {
    background: url("../img/camera2.png") no-repeat center 30px;
}
.file input {
    display: none;
}
/*跳转页*/
.page:nth-of-type(5) {
    z-index: 6;
}
.scrollWrap {
    position: relative;
    height: 100%;
    overflow: hidden;
}
/*欢迎页*/
.tree {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    transform: translateY(100px);
    opacity: 0;
}
.logo {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 5%;
    opacity: 0;
}
.writing {
    position: relative;
    padding-top: 50px;
    transform: translateY(50px);
    opacity: 0;
}
.shake {
    position: absolute;
    left: 509px;
    top: 12px;
    width: 28px;
    height: 31px;
    background: url("../img/shake.png") no-repeat;
    background-size: cover;
}
.news {
    padding-top: 20px;
    transform: translateY(30px);
    opacity: 0;
}
.cloud {
    position: absolute;
    background: url("../img/cloud.png") no-repeat;
    background-size: contain;
}
.cloud:nth-of-type(1) {
    left: 432px;
    top: 15px;
    width: 58px;
    height: 44px;
}
.cloud:nth-of-type(2) {
    left: 79px;
    top: 77px;
    width: 91px;
    height: 70px;
}
.cloud:nth-of-type(3) {
    left: 402px;
    top: 142px;
    width: 54px;
    height: 41px;
}
.skip {
    background: rgba(0,0,0,0.7) url("../img/mask.png") no-repeat center 300px;
    transition: 1s;
    opacity: 0;
}
/*欢迎页动画*/
.writing.a-tree {
    animation-delay: 0.3s;
}
.news.a-tree {
    animation-delay: 0.6s;
}
.cloud:nth-of-type(2).a-cloud {
    animation-delay: 2.8s;
}
.cloud:nth-of-type(3).a-cloud {
    animation-delay: 3.6s;
}
.btn {
    position: absolute;
    bottom: 17px;
    width: 606px;
    margin-left: -303px;
    height: 74px;
    font-size: 30px;
    background: #cacaca;
    border-radius: 5px;
    
    
}
.submit {
    background: #3c9bbb;
    color: #fff;
}
.info {
    position: relative;
     bottom: 30px;
    width: 100%;
    transform-origin: bottom;
    transform: scale(0);
    transition: 0.5s;
    letter-spacing: 0;
    opacity: 0;
}
.prompt {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 108px;
    letter-spacing: -0.5rem;
    text-align: center;
}
.form-tags {
    background: url("../img/formBg.png");
    height: 341px;
    padding-top: 52px;
    color: #fff;
}
.form-tags input:checked+span {
    border-color: #fff;
    background-color: rgba(60,155,187,0.8);
}
.formText {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 26px;
    line-height: 50px;
    padding: 10px 20px;
    margin-top: 30px;
}